
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* start header section */
.combined{
  position:fixed;
  top:0px;
  left: 0px;
  width: 100%;
  z-index: 1000; /* Ensures it stays on top */
  background-color: white; /* Optional: add background to prevent transparency */
}
body{
  padding-top: 140px;
}
.heading1{
  display: block;
}
.heading{
  display: inline-block;
  vertical-align: top;
}
.title1{
  font-family: Orbitron;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 30px;
}

.title2{
  font-family: "Shadows Into Light", cursive;
  margin-top: 0px;
  /* font-family: Poppins; */
}
.x {
   font-family: "Shadows Into Light", cursive;
  color: rgb(10, 97, 10) !important;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-right: 25px;
}
.x:hover {
  border-bottom: 2px solid #238d22;
}

.x:active {
  border-bottom: 2px solid #238d22;
}
.dp{
  width: 80px;  
  margin-left: 7px;
}



.navbar ul{
  list-style-type: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  background-color: azure;
}
.navbar li{
  float: left;
}

/* end header section */




/* Footer classes */
footer {
 background-color: #111;
 width:100%;
}
.f1{
  display: inline-block;
  color:white;
  margin-right: 20px;
  vertical-align: top;
  margin-left: 30px;
}
.f2{
  top:30px;
  font-family: Poppins;
  color:white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.xx{
  font-family: "Shadows Into Light", cursive;
  color:white;
  display: inline-block;
  vertical-align: top;
  margin-top: 54px;
  margin-left: 27px;
  font-size: 25px;
}
.xxy{
  font-family: "Shadows Into Light", cursive;
  color:white;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 27px;
  font-size: 25px; 
}
.xv{
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
}
.psg{
  width: 78px;
  border-radius: 120px;
  margin-top: 60px;
  margin-left: 30px;
}
.t{
  display: block;
}
.fa-brands.fa-tiktok.fa-2x{
  color:hsl(0, 33%, 89%);
}
.fa-brands.fa-tiktok.fa-2x:hover{
  color:hsl(0, 0%, 30%);
}
.fa-brands.fa-youtube.fa-2x{
  color: hsl(0, 33%, 89%);
}
.fa-brands.fa-youtube.fa-2x:hover{
  color: hsl(0, 33%, 30%);
  cursor: pointer;
}
.fa-brands.fa-x-twitter.fa-2x{
  color:hsl(0, 33%, 89%);
}
.fa-brands.fa-x-twitter.fa-2x:hover{
  color:hsl(0, 0%, 30%);
}
.fa-brands.fa-instagram.fa-2x{
  color:hsl(0, 33%, 89%);
}
.fa-brands.fa-instagram.fa-2x:hover{
  color:hsl(0, 0%, 30%);
}
.fa-brands.fa-facebook{
  color:hsl(0, 33%, 89%);
}
.fa-brands.fa-facebook:hover{
  color:hsl(0, 0%, 30%);
}
.fa-brands.fa-threads{
  color:hsl(0, 33%, 89%);
}
.fa-brands.fa-threads:hover{
  color:hsl(0, 0%, 30%);
}
.icons{
  display: inline-block;
  vertical-align: top;
}
.icons a{
  text-decoration: none;
  margin-right: 20px;
}
.f22{
margin-bottom: 10px;
font-family: Poppins;
cursor: pointer;
text-decoration: none;
color: white;
}
.f222{
  margin-bottom: 10px;
  font-family: Poppins;
  text-decoration: none;
  color: white;
}
.f22:hover{
  color: hsl(0, 0%, 45%);
  transition: 0,2s;
}
.finale{
  color:white;
  font-family: Poppins;
  font-size: 15px;
  text-align: center;
}


/* En d footer section */

